---
---

@charset "utf-8";

@import "mixins";
@import "fonts";

$lgtred: #f2d1cb;
$red: #f23818;
$drkred: #d84a32;
$offwhite: #fdfaf9;

$exo1: 'exolight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$exo2: 'exomedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$exo3: 'exoblack', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  background: $offwhite;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  background: desaturate(darken($drkred,33%),20%);

  .navbar-header {
    border-bottom: 3px solid desaturate(darken($drkred,25%),20%);
    @include css-gradient($drkred,desaturate(darken($drkred,10%),20%));
  }

  nav {
    box-shadow: none;

    a {
      color: desaturate(darken($lgtred,12%),25%);
      font-size: 1.3em;

      &:hover,
      &:active {
        background: desaturate(darken($drkred,25%),20%);
      }

    }

  }

  nav.in {
    height: 100%;
  }

  .navbar-brand {
    color: #fff;
    font-size: 1.6em;
  }

  .icon-bar {
    height: 2px;
    border-bottom: 1px solid $drkred;
    background-color: desaturate(darken($drkred,25%),20%);
  }

}

#showcase {
  position: absolute;
  top: 0;
  width: 100%;
  height: 105%;
  padding-right: 5%;
  padding-left: 5%;
  overflow: hidden;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CF483B;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  @include box-sizing(border-box);

  .content {
    position: relative;

    h1, h6, h4 {
      text-align: center;
    }

    p.tagline {
      margin: 1.3em 0;
      color: #fff;
      font-family: -apple-system, 'Helvetica Neue', Arial, sans-serif;
      font-weight: 300;
      font-size: 1.3em;
      letter-spacing: .02em;
      line-height: 1.3em;
      text-align: center;
    }

    .latest-version {
      color: #fff;
      font-family: -apple-system, 'Helvetica Neue', Arial, sans-serif;
      font-size: .9em;
      letter-spacing: .04em;
      transition: color .3s;

      &:hover {
        text-decoration: none;
        color: #ffcec9;
      }
    }

    #info {
      text-align: center;
    }

    .brand {
      position: relative;
      width: 350px;
      height: 94px;
      margin: auto;
      margin-bottom: 20px;
      padding: 0;
      background: url(/assets/images/logo.svg) center no-repeat;
      background-size: contain;
      text-indent: -999em;
    }

    code {
      display: block;
      margin: 0 auto;
      padding: .75em 0;
      color: #ffcec9;
      font-size: 1em;
      text-align: center;
      background: darken(#CF483B, 5%);
      -ms-user-select: all;
      -moz-user-select: all;
      -khtml-user-select: all;
      -webkit-user-select: all;
      -webkit-touch-callout: all;
    }

    iframe {
      display: block;
      margin: 0 auto;
    }

  }

  .primary-nav {
    padding: 0;
    text-align: center;
    list-style-type: none;

    #viewguide {
      display: none;
    }
  }

  .primary-nav li {
    display: inline-block;
  }

  .primary-nav a {
    display: inline-block;
    height: auto;
    margin: 3em auto 0;
    padding: .6em 1.45em;
    float: none;
    background: $lgtred;
    color: darken(desaturate($red, 35%), 10%);
    font-family: $exo2;
    font-size: 1.1em;
    letter-spacing: .04em;
    text-align: center;
    text-transform: uppercase;
    @include border-radius(4px);
    transition: background 0.3s;

    &:hover,
    &:active {
      background: darken($lgtred, 10%);
      text-decoration: none;
    }
  }
}

#sidenav {
  h1 {
    margin: 0 0 20px 0;
    padding-top: 20px;
    text-align: center;
  }
}

.content-section {
  overflow-x: hidden;

  .guide-content {
    min-height: 500px;
    padding-top: 15px;
    padding-bottom: 40px;

    .edit-page {
      margin-top: 55px;
      padding-top: 4px;
      padding-right: 10px;
      float: right;
    }

    .glyphicon-pencil {
      padding-top: .8em;
      color: $lgtred;
      font-size: 1.2em;
      text-shadow: 0 1px white;

      &:hover,
      &:active {
        color: darken($lgtred,10%);
      }

    }

    h1 {
      margin-top: 65px;
      padding-bottom: 10px;
      border-bottom: 1px solid lighten(desaturate($drkred,20%),40%);
      color: lighten(desaturate($drkred,20%),5%);
      font-family: $exo1;
      font-size: 1.65em;
      letter-spacing: .06em;
      text-shadow: 0 1px white;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.15em;

      a {
        color: #333;
      }

      + p {
        margin-top: 0;
      }

    }

    h4 {
      padding-top: 2em;
      font-size: 1.2em;

      a {
        color: #333;
      }

      + p {
        margin-top: 0;
      }

    }

    h5 {
      padding-top: 2em;
      font-size: 1.3em;

      a {
        color: #3f3a3a;
      }

      + p {
        margin-top: 0;
      }

    }

    p, li {
      color: #5f5a5a;
    }

    li {

      a {
        color: desaturate($red,30%);
      }

      code {
        color: desaturate($red,40%);
      }

    }

    p {
      margin-top: 20px;
      font-size: 1.1em;
      font-weight: 400;
      line-height: 1.4em;

      a {
        color: desaturate($red,30%);
      }

      code {
        color: desaturate($red,40%);
      }

    }

    pre {
      background: #2f2a2a;

      code {
        color: #efeaea;

        span {
          color: inherit;
        }

        .lineno {
          color: #ccc;
        }

        .s2, .s1, .s {
          color: lighten($red,13%);
        }

        .nt, .na {
          color: #efeaea;
        }

        .nb, .nv {
          color: #30b6e3;
        }

      }

    }

    img {
      max-width: 100%;
      height: auto;
    }

  }

}

#footer {
  padding: 1.75em 0 1.5em;

  p {
    width: 100%;
    color: desaturate($red,30%);
    text-align: center;
    text-shadow: 0 1px lighten($lgtred,10%);

    a {
      color: darken(desaturate($red,30%),15%);
    }

  }

}

.highlight .lineno {
  display: none;
}

@media (min-width: 768px) {

  .navbar-header {
    border: 0 !important;
    background: none !important;
  }

  .navbar {
    border-bottom: 3px solid desaturate(darken($drkred,25%),20%);
    @include css-gradient($drkred,desaturate(darken($drkred,10%),20%));
  }

  .navbar-collapse {
    float: right;
  }

  #showcase {
    display: table;
    padding-top: 0;
    height: 100vh;

    .content {
      display: table-cell;
      vertical-align: middle;

      p.tagline {
        font-size: 1.6em;
      }

      code {
        width: 320px;
        font-size: 1.1em;
      }

    }

  }

  .content-section {

    .guide-content {

      h1 {
        margin-top: 15px;
      }

      .edit-page {
        margin-top: 5px;
      }

    }

  }

}

@media (max-width: 500px) {
  #showcase .content .brand {
    width: 290px;
    height: 78px;
  }

  #showcase .primary-nav {
    margin-top: 2em;
  }

  #showcase .primary-nav li {
    display: block;
  }

  #showcase .primary-nav a {
    width: 80%;
    margin: 0.3em auto 0.3em;
  }

  nav .navbar-nav li {
    text-indent: 1em;
  }

  nav .navbar-nav li.ectop {
    text-indent: 0;
  }
}

@media (min-width: 992px) {

  body {
    background: $lgtred;
  }

  .container {
    width: 100%;
    @include box-sizing(border-box);
  }

  #showcase {
    .content {
      p.tagline {
        font-size: 1.8em;
      }

      .primary-nav {
        a {
          padding: .95em 1.45em;
        }

        #viewguide {
          display: inline-block;
        }
      }

      code {
        width: 360px;
        font-size: 1.3em;
      }
    }
  }

  .row {
    margin-top: 0;

    div {
      margin: 0;
      padding-top: 0;
    }

    .sidebar-wrapper {
      padding-right: 0;
      padding-left: 0;
      border-right: 1px solid rgba(75,45,75,.1);

      .affix {
        top: 0;
        bottom: 0;
        left: 0;
        width: 25%;
        overflow-y: auto;
        overflow-x: hidden;
      }

    }

    .main {
      padding-top: 3%;
      padding-right: 3%;
      padding-left: 3%;
      background: lighten($offwhite,2%);
    }

  }

  .sidebar {
    padding-left: 0;
  }

  .sidebar.affix {
    top: 20px;
  }

  .sidenav {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 1px solid darken($lgtred,8%);
    background: $lgtred;
    font-size: 1.1em;
    font-weight: 200;
    list-style: none;

    li.active,
    li.active:hover {
      margin-right: -6px;
      border-bottom-color: #fff;
      font-weight: 500;
      background: #fff;

      a {
        color: desaturate(darken($red,15%),25%);
        letter-spacing: .04em;

        &:hover,
        &:active {
          background: none;
        }

      }

    }

    li:nth-child(1) {
      padding-top: 0;
    }

    li {
      margin-right: -6px;
      padding: 0;
      border-top: 1px solid darken($lgtred,8%);
      border-bottom: 1px solid $lgtred;

      a {
        padding-left: 50px;
        color: desaturate($drkred,25%);
        font-size: .8em;
        font-weight: 500;
        letter-spacing: .04em;
        text-transform: uppercase;

        &:hover {
          background: #f4d8d3;
        }

      }

    }

    .ectop {

      a {
        padding: 1em 0;
        padding-left: 20px;
        background: none;

        span {
          padding-right: .5em;
        }

      }

      .categories a {
        display: inline-block;
      }

    }

  }

}
